h2 {
    margin-bottom: 10px;
  }

  ul {
    padding-left: 0;
  }
.form {
    max-width: 700px;
    height: 1000px;
    
    margin: auto;
    padding: 20px;
    border: 1px solid #30f309;
    border-radius: 5px;
    background-color:white;
  }

  h3 {
    text-align: center;
    margin-bottom: 10px;
    font-size: 30px;
    color: green;
    font-weight: 800;
    margin-top: 30px;
  }
span{
    text-align: center;
    color: rgb(135, 158, 158);
    font-size: 17px;
    margin-left: 180px;
}
a{
    color: black;
    font-weight: 680;

}
a:hover{
    color: green;
}
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    font-weight: 700;
   
  }

  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 15px;
    border: 1px solid #95d378;
    border-radius: 5px;
    box-sizing: border-box;
  }
  .agree{
    margin-left: 30px;
  margin-top: -35px;
  cursor: pointer;
  }
  .terms-forgot p input {
    margin-right: 5px;
    accent-color: #1c8d18;
    width: 20px;
  }
  .terms-forgot p {
    font-family: "Rubik", sans-serif;
    font-size: 16px;
    color: #142935;
  }

  a:not([href]):not([class]), a:not([href]):not([class]):hover {
    color:#1c8d18 ;
    text-decoration: none;
  }
  .forgate{
    color:#1c8d18 ;
  }
  .terms-forgot p a {
    display: inline-block;
    font-weight: 600;}
  /* input[type="checkbox"] {
   margin-left: -275px;
  }

  .terms-forgot {
    margin-bottom: 15px;
  } */

  /* .terms-forgot p {
    margin: 0;
  } */

  /* .terms-forgot a {
    color: #95d378;
    cursor: pointer;
  } */
  .forgate{
    
        margin-top: -26px;
        font-size: 15px;
  }
  .forgate > a:hover {
    color: red;
  }
  .forgate > a {
    display: inline-block;
    font-weight: 600;
    margin-left: 400px;
    font-size: 15px;
    -webkit-text-decoration-line: underline;
    text-decoration-line: underline;
    color: #6c6c6c;
    transition: all 0.5s ease-out 0s;
  }
  .login-button {
    margin-top: 40px;
    width: 100%;
    padding: 10px;
    background-color:white;
    color:green;
    font-size: 16px;
    font-weight: 600;
    border-color: #1c8d18;
    border-width: 1px;
    border-radius: 5px;
    cursor: pointer;
  }

  .login-button:hover {
    background-color: #00b309;
    color: white;
  }

  .other-signup {
    border: 1px solid #eeeeee;
    box-sizing: border-box;
    filter: drop-shadow(0px 10px 25px rgba(128, 128, 128, 0.08));
    border-radius: 5px;
    margin: 25px 0;
    padding: 20px 20px;
  }
  .other-signup h4 {
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    color: #142935;
    margin-bottom: 20px;
  }
  .other-signup .others-account a.google {
    background-color: #ea4335;
  }
  .other-signup .others-account a {
    font-weight: 600;
    font-size: 15px;
    text-transform: uppercase;
    color: #ffffff;
   
    border-radius: 5px;
    padding: 15px 20px;
    min-width: 220px;
    display: inline-block;
  }
  .others-account{
    text-align: center;
    column-gap: 2px;
  }
  .others-account i{
    width: 25px;
  }
  .google {
    display: inline-block;
    background-color: #dd4b39;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    margin-right: 10px;
  }

  .google:hover {
    background-color: #c53727;
  }
.login-form  p{
    font-size: 16px;
    
    font-weight: 500;
}

.divtypeuser:hover {
    border-color: #9ffa86;
    box-shadow: 0px 0px 5px #42ed12;
  }
  .divtypeuser {
    border: 1px;
      border-top-style: none;
      border-top-color: currentcolor;
      border-right-style: none;
      border-right-color: currentcolor;
      border-bottom-style: none;
      border-bottom-color: currentcolor;
      border-left-style: none;
      border-left-color: currentcolor;
    margin: 20px;
    border-style: solid;
    border-color: #5bb543;
    border-radius: 10px;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
  }.typecontainer {
    
    height: fit-content;
    width: 300px;
  margin-left: -250px;
  height: 100px;
    margin-bottom: 40px;
    padding: 20px;
    
    display: flex;
    flex-direction: column;
  
    flex-wrap: wrap;
  }

  .check_sign_up_type {
    margin: 10px;
   
    appearance: none;
    width: 12px;
    height: 10px;
    border-radius: 50%;
    background-clip: border-box;
    border: 2px solid rgb(19, 132, 53);
    background-color: rgba(255, 252, 229, 1);}
    .check_sign_up_type:checked {
        background-color: #35ae14;
      }

      .btn_create_account{
        width: 200px;
  height: 50px;
  color: white;
  background-color: green;
  margin-left: -260px;
  
  border-radius: 8px;
  
      }
      .row1{
        text-align: center;
        align-content: center;
        margin-top: -230px;
        
        
      }
      .button_switch{
        width: 200px;
  height: 50px;
  color: white;
  background-color: rgb(1, 4, 26);
  border-radius: 8px;
  margin-top: -65px;
  margin-left: 300px;
  padding-top: 10px;
      }